body
{
    background-color:linen;font-family:Arial;margin-Right:300px;margin-left:300px;margin-top:200px;
}
    
h2
{
    text-align:center;
  }

.para1
{  
    text-align:center;
  }

.para2
{
    text-align:center;
  }  
